<?xml version="1.0" encoding="utf-8"?>
<configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://sharewatch.documents.azure.com:443/" />
        <add key="accountKey" value="JcZlyTnOWIwSokArIw5kwObSKaTnDCUuBqJA7wywY6CUYOY09exkLSfQeiNEpULlpIzYeaONVDGlZSdH0cA9rg==" />
        <add key="tradesUrl" value="http://www.bsb-software.de/rese/" />
        <add key="tradesIndex" value="Inhalt.txt" />
      </appSettings>
</configuration>

